body {
	margin: 0;
	padding: 0;
	font-family: helvetica, cursive;
	font-size: 24px;
}

h1 {
	font-size: 72px;
}

header {
	text-align: center;
}

.col-md-6 {
	border: 3px red solid;
	text-align: center;
	height: 400px;
}

#spacer {
	border: none;
}

#letters-guessed {
	letter-spacing: 2px;
}